<!DOCTYPE html>
<html lang="en">

<head>
  <!-- HTMX -->
  <script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>
  <!-- HTMX Websockets extension https://htmx.org/extensions/web-sockets/ -->
  <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
  <!-- Tailwind -->
  <script src="https://cdn.tailwindcss.com"></script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Serial</title>
</head>

<body>
  <h1 class="text-3xl text-center p-4">Serial</h1>  
  <div id="dp"></div>
  <select name="port" hx-get="/" hx-trigger="change" hx-target="#dp"  class="bg-blue-500 text-white px-4 py-2">
    <option value="" disabled selected>Select port</option>
    {{range .}}
    <option>{{.}}</option>
    {{end}}
  </select>
  
</body>

</html>